<% content_for :title, "創業與易經" %>
<% content_for :meta do %>
    <meta property="og:image" content="<%= @pluckgua.image.url %>"/>
    <meta property="og:title" content="<%= @pluckgua.name %>"/>
    <meta property="og:url" content="<%= gua_path(@pluckgua) %>"/>
<% end %>

<div class="jumbotron">
    <div class="container">
        <div class="row text-center">
            <h1>創業與易經</h1>
            <h3>有疑惑時就從易經獲得靈感吧！</h3>
            <br>
            <div class="col-md-12">
            <button type="button" class="btn btn-primary btn-lg gold" id="reload" onClick="ga('send', 'event', 'gua', ‘ask’, 'ask question');">Step 1. 默想問題後點我</button>
            
            </div>
            <div class="col-md-12">
            <button type="button" class="btn btn-primary btn-lg gold" id="tell" onClick="ga('send', 'event', 'gua', ‘see’, 'see result');">Step 2. 看結果</button>
            </div>
            <br>
            
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div id="tellgua">
                <div class="well" id="guacontent">
                    <h1>結果</h1>
            
                    <% if @pluckgua %>
                        <% if @pluckgua.image? %>
                            <div>
                                <%= image_tag(@pluckgua.image.url, class: "img-responsive img-rounded", size: '600x200') %>
                            </div>
                        <% end %>
                        <h3>卦/爻辭：</h3>
                        <p><%= @pluckgua.name+'：'+@pluckgua_gtext %></p>
                        <% if @pluckgua_explain2 %>
                            <div>
                                <h2 class="btn btn-info" data-toggle="tooltip" data-placement="top" title="&copy; Vincent Li">創業解釋</h2>
                                <p><%= @pluckgua_explain2 %></p>
                            </div>
                        <% end %>
                        <% if @pluckgua_explain %>
                            <div>
                                <h2 class="btn btn-info" data-toggle="tooltip" data-placement="top" title="&copy; 吳佩蓉">通用解釋</h2>
                                <p><%= @pluckgua_explain %></p>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
  


<script>
$(document).ready(function(){
   
    $("button#tell").click(function(){
        
        /*$("#tellgua").show();*/
     
        $("#tellgua").slideDown();
        /*$(window).scrollTop($(window).scrollTop()-10);*/
        $('html, body').animate({
            scrollTop: $("#tellgua").offset().top
        }, 800);
    });
    
    $("button#reload").click(function(){
       location.reload(); 
    });
});
</script>
