<div class="container" id="carousel">
    <h1 class="text-center">瀏覽易經</h1>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
      
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            
          <% @guas.each_with_index do |gua, index| %>
            <div class="item<%= ' active' if index == 0 %>">
              <%= image_tag(gua.image.url, class:"img-responsive") %>
              <div class="carousel-caption">
                <h4 class="text-center">第<%= gua.serial %>卦 <%= link_to gua.name, gua_path(gua) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to '圖片來源', gua.image_source, class:'small', target: '_blank' if gua.image_source %></h4>
                  <p><%= gua.explain2 %></p>
              </div>
            </div><!--Item end -->
          <% end %>
          
        </div>
        
      <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<br>
<br>

<div class="container"> 
    <% if user_signed_in? %>
    <div class="row">
        <div class="col-md-12">
        <%= link_to '新增卦', new_gua_path, class:'btn btn-primary' %>
        </div>
    </div>
    <% end %>
    
    <div class="row table-title">
    <% if user_signed_in? %>
                
                    <div class="col-md-3">
                        <strong>卦名</strong>
                    </div>
                    <div class="col-md-3">
                        <strong>創業解釋</strong>
                    </div>
                    <div class="col-md-3">
                        <strong>卦辭</strong>
                    </div>
                    <div class="col-md-3">
                        <strong>動作</strong>
                    </div>
    <% else %>
                    <div class="col-md-4">
                        <strong>卦名</strong>
                    </div>
                    <div class="col-md-4">
                        <strong>創業解釋</strong>
                    </div>
                    <div class="col-md-4">
                        <strong>卦辭</strong>
                    </div>
    <% end %>
    </div>
    <hr>
    <% @guas.each do |gua| %>
        
            <% if user_signed_in? %>
                <div class="row">
                    <div class="col-md-3">
                        第<%= gua.serial %>卦 - <%= link_to gua.name, gua_path(gua) %> <%= gua.yaos.length %>爻 <span class="warn"><%= '未完成' if gua.yaos.length <7 %></span>
                    </div>
                    <div class="col-md-3">
                        <%= simple_format(gua.explain2) %>
                    </div>
                    <div class="col-md-3">
                        <%= simple_format(gua.gtext) %>
                    </div>
                    <div class="col-md-3">
                    <%= link_to edit_gua_path(gua), class:'btn btn-default' do %>
                      <i class='glyphicon glyphicon-pencil'></i>
                    <% end %>
                    <%= link_to gua, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-default' do %>
                        <i class='glyphicon glyphicon-trash'></i>
                    <% end %>
                    </div>
                </div>
            <% else %>
                <div class="row">
                    <div class="col-md-4">
                        第<%= gua.serial %>卦 - <%= link_to gua.name, gua_path(gua) %>
                    </div>
                    <div class="col-md-4">
                        <%= simple_format(gua.explain2) %>
                    </div>
                    <div class="col-md-4">
                        <%= simple_format(gua.gtext) %>
                    </div>
                </div>
            <% end %>
        <hr>
    <% end %>
</div>
