<div class="container">
    <div class="row">
        <h1>卜卦方法</h1>
        <p>Step 1. 默想問題</p>
        <p>Step 2. <button type="button" class="btn btn-primary btn-lg" id="reload">進行占卜</button></p>
        <p>Step 3. <button type="button" class="btn btn-primary btn-lg" id="tell">觀看結果</button></p>
        
    </div>
    <div class="row" id="tellgua">
    結果：<%= link_to @pluckyao_name +' '+ @pluckyao_ytext, gua_yao_path(@pluckyao_gua,@pluckyao)  %>
    </div>
</div>

<hr>

<div class="container">
    <p><%= link_to '新增卦', new_gua_path, class:'btn btn-info' %></p>
    <hr>
    <% @guas.each do |gua| %>
        <div class="row">
            <div class="col-md-4">
                第<%= gua.serial %>卦 - <%= link_to gua.name, gua_path(gua) %>
            </div>
            <div class="col-md-4">
                <%= gua.gtext %>
            </div>
            <div class="col-md-4">
                <%= link_to edit_gua_path(gua), class:'btn btn-default' do %>
                  <i class='glyphicon glyphicon-pencil'></i>
                <% end %>
                <%= link_to gua, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-default' do %>
                    <i class='glyphicon glyphicon-trash'></i>
                <% end %>
            </div>
        </div>
        <hr>
    <% end %>
</div>



<script>
$(document).ready(function(){

    $("button#tell").click(function(){
        
        $("#tellgua").show();
        
    });
    
    $("button#reload").click(function(){
       location.reload(); 
    });
    
});
</script>