<div class="well">
    <%= form_for(@gua, html: { multipart: true }) do |f| %>
        <div class="form-group">
            <%= f.label '卦名' %>
            <%= f.text_field :name, class:'form-control' %>
        </div>
        <div class="form-group">    
            <%= f.label '卦序' %>
            <%= f.text_field :serial, class:'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label '卦辭' %>
            <%= f.text_area :gtext, class:'form-control', rows:5 %>
        </div>
        <div class="form-group">
            <%= f.label '解釋' %>
            <%= f.text_area :explain, class:'form-control', rows:5 %>
        </div>
         <div class="form-group">
            <%= f.label '創業解釋' %>
            <%= f.text_area :explain2, class:'form-control', rows:5 %>
        </div>
        <span class="picture">
            <%= f.file_field :image, accept: 'image/jpg, image/png, image/gif' %>
        </span>
        <div class="form-group">
            <%= f.label '圖片來源' %>
            <%= f.text_field :image_source, class:'form-control' %>
        </div>
        <br>
            <%= f.submit 'Create', class:'btn btn-primary' %>
    <% end %>
</div>