<% content_for :title, "創業與易經 - "+@gua.name %>

<% content_for :meta do %>
    <meta property="og:image" content="<%= image_url(@gua.image.url) %>"/>
    <meta property="og:title" content="<%= @gua.name %>"/>
    <meta property="og:url" content="<%= gua_path(@gua) %>"/>
<% end %>

<div class="container">
    
    <div class="row">
        <h1>第<%= @gua.serial %>卦  <%= @gua.name %></h1>
    </div>
    
    <div class="well">
        <h3>卦辭</h3>
        <p><%= @gua.gtext %></p>
        
        <% if @gua.explain2 %>
        <div>
            <h3 class="btn btn-info" data-toggle="tooltip" data-placement="top" title="&copy; Vincent Li">創業解釋</h3>
            <p><%= simple_format(@gua.explain2) %></p>
        </div>
        <% end %>
        <div>
            <h3 class="btn btn-info" data-toggle="tooltip" data-placement="top" title="&copy; 吳佩蓉">通用解釋</h3>
            <p><%= simple_format(@gua.explain) %></p>
        </div>
        <div class="thumbnail">
            <%= image_tag(@gua.image.url, class: "img-responsive") if @gua.image? %>
        </div>
        <small><%= link_to '圖片來源', @gua.image_source, target: '_blank' %></small>
    </div>
    
    
    <div class='container'>
        <div class="row table-title">
            <div class="col-md-2">
                <strong>爻</strong>
            </div>
            <div class="col-md-1">
                <strong>陰陽</strong>
            </div>
            
            <% if user_signed_in? %>
                <div class="col-md-3">
                    <strong>爻辭</strong>
                </div>
                <div class="col-md-4">
                    <strong>通用解釋</strong>
                </div>
                <div class="col-md-2">
                    <strong>動作</strong>
                </div>
            <% else %>
                <div class="col-md-4">
                    <strong>爻辭</strong>
                </div>
                <div class="col-md-5">
                    <strong>通用解釋</strong>
                </div>
            <% end %>
        </div>
        <hr>
        <%  @gua_yaos.each do |yao| %>
            <div class="row">
                <div class="col-md-2">
                    <% if yao.serial > 0 %>
                    第<%= yao.serial %>爻  <%= link_to yao.name, gua_yao_path(yao.gua, yao) %>
                    <% else %>
                    卦名  <%= link_to yao.name, gua_yao_path(yao.gua, yao) %>
                    <% end %>
                </div>
                <div class="col-md-1">
                    <%= "<i class='glyphicon glyphicon-minus fa-2x'></i>".html_safe if yao.yingyang? %>
                    <%= "<i class='glyphicon glyphicon-minus'></i><i class='glyphicon glyphicon-minus'></i>".html_safe if yao.yingyang == false %>
                    <%= " ".html_safe if yao.yingyang == nil %>
                </div>
                
                
                <% if user_signed_in? %>
                    
                    <div class="col-md-3" >
                        <%= simple_format(yao.ytext) %>
                    </div>
                    
                    <div class="col-md-4">
                        <%= simple_format(yao.explain) %>
                    </div>
                    
                    <div class="col-md-2">
                        <%= link_to edit_gua_yao_path(yao.gua, yao), class: 'btn btn-default' do %>
                            <i class='glyphicon glyphicon-pencil'></i>
                        <% end %>
                        <%= link_to [yao.gua, yao], method: :delete, data: { confirm: "確定刪除？" }, class: 'btn btn-default' do %>
                            <i class='glyphicon glyphicon-trash'></i>
                        <% end %>
                    </div>
                <% else %>
                    <div class="col-md-4" >
                        <%= simple_format(yao.ytext) %>
                    </div>
                    
                    <div class="col-md-5">
                        <%= simple_format(yao.explain) %>
                    </div>
                
                <% end %>
                
                
            </div>
            <hr>
        <% end %>
        
    </div>
    <br>
    <% if user_signed_in? %>
        <div calss="row">
            <%= link_to '新增爻', new_gua_yao_path(@gua), class: 'btn btn-primary' %>    
        </div>
    <% end %>

</div>