<div class="row">
    <h1>第<%= @gua.serial %>卦  <%= @gua.name %></h1>
</div>

<div class="well">
    <h3>卦辭</h3>
    <p><%= @gua.gtext %></p>
    <hr>
    <h3>解釋</h3>
    <p><%= @gua.explain %></p>
</div>

<hr>
<div class='container'>
    
    <% @gua.yaos.each do |yao| %>
        <div class="row">
            <div class="col-md-2">
                第<%= yao.serial %>爻  <%= link_to yao.name, edit_gua_yao_path(yao.gua, yao) %>
            </div>
            <div class="col-md-2">
                <%= "<i class='glyphicon glyphicon-minus'></i>".html_safe if yao.yingyang? %>
                <%= "<i class='glyphicon glyphicon-pause'></i>".html_safe if !yao.yingyang? %>
            </div>
            <div class="col-md-3" >
                <%= simple_format(yao.ytext) %>
            </div>
            <div class="col-md-3">
                <%= simple_format(yao.explain) %>
            </div>
            <div class="col-md-2">
                <%= link_to [yao.gua, yao], method: :delete, data: { confirm: "確定刪除？" }, class: 'btn btn-default' do %>
                    <i class='glyphicon glyphicon-trash'></i>
                <% end %>
            </div>
            <hr>
        </div>
    <% end %>
    
</div>
<br>
<div calss="row">
    <%= link_to '新增爻', new_gua_yao_path(@gua), class: 'btn btn-primary' %>    
</div>