<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= yield :meta %>
</head>
<body>
  
  <%= render 'layouts/nav' %>
  <!--%= render 'layouts/header' %-->
  <%= render 'layouts/messages' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
  <% if Rails.env == 'production' %>
    <%= render 'layouts/ga' %>
  <% end %>
</body>
</html>
